Repository eisbuk/EisBuk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,yml,yaml,md,mdx}": ["prettier --write"]
}

mobile ui: some updates on customer area:
  packages/client/src/pages/customer_area/index.tsx
  packages/client/src/pages/customer_area/views/Book.tsx
  packages/client/src/pages/customer_area/views/Profile.tsx
  packages/ui/src/BookingDateDebugDialog/BookingDateDebugDialog.stories.tsx
  packages/ui/src/BookingDateDebugDialog/BookingDateDebugDialog.tsx
  packages/ui/src/IntervalCard/BookingCardContainer.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix linting issues
  packages/client/src/controllers/AdminBar.tsx
  packages/client/src/pages/attendance/views/ByDay.tsx
  packages/client/src/pages/slots/index.tsx
  packages/ui/src/CalendarNav/CalendarNav.stories.tsx
  packages/ui/src/SlotCard/SlotCard.stories.tsx
  packages/ui/src/SlotsDayContainer/SlotsDayContainer.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Update expect script
  deploy-firebase.expect
Due: none

Fix production deployment (#959)
  .github/workflow.templates/deploy-production.yml
  .github/workflows/deploy-production.yml
  deploy-firebase.expect
Due: prettier --write

hopefully fix the failing e2e tests
  packages/client/src/controllers/AdminBar.tsx
  packages/client/src/pages/customers/index.tsx-cp
  packages/e2e/integration/athlete_management_spec.ts
  packages/e2e/integration/booked_intervals_spec.ts
  packages/e2e/integration/copy_button_spec.ts
  packages/e2e/integration/create_slot_spec.ts
  packages/e2e/integration/modal_history_spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add daily maintenance scheduled function
  packages/functions/src/checks/https.ts
  packages/functions/src/index.ts
  packages/functions/src/migrations.ts
  packages/functions/src/scheduledTasks.ts
Due: eslint --fix --max-warnings=0, prettier --write

ci: unbreak the pipeline (browserslist staleness, retired runner)
  .github/workflow.templates/build.yml
  .github/workflow.templates/cypress-matrix.yml
  .github/workflow.templates/vitest-matrix.yml
  .github/workflows/build.yml
  .github/workflows/cypress-matrix.yml
  .github/workflows/vitest-matrix.yml
Due: prettier --write

fix: guard client selectors and helpers against missing/dangling data
  packages/client/src/store/selectors/attendance/__tests__/attendance.test.ts
  packages/client/src/store/selectors/attendance/attendanceVariance.ts
  packages/client/src/store/selectors/attendance/slotAttendance.ts
  packages/client/src/store/selectors/bookings/__tests__/bookings.test.ts
  packages/client/src/store/selectors/bookings/slots.ts
  packages/shared/src/utils/__tests__/sort.test.ts
  packages/shared/src/utils/sort.ts
  packages/ui/src/utils/__tests__/helpers.test.ts
  packages/ui/src/utils/helpers.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: don't hang the app when queryAuthStatus fails on load
  packages/client/src/store/actions/__tests__/authOperations.test.ts
  packages/client/src/store/actions/authOperations.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: make GatewayAPI SMS status callbacks actually work
  packages/client/src/__tests__/updateSMSStatus.test.ts
  packages/functions/src/sendSMS/deliver.ts
  packages/functions/src/sendSMS/https.ts
  packages/functions/src/sendSMS/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: whitelist self-editable fields in customerSelfUpdate
  packages/client/src/__tests__/cloudFunctions.test.ts
  packages/functions/src/https.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: reconcile slot triggers against current truth to prevent ghost slots
  packages/client/src/__tests__/dataTriggers.test.ts
  packages/functions/src/dataTriggers.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: self-registration hygiene (log leak, error strings, error conflation)
  packages/client/src/store/actions/__tests__/bookingOperations.test.ts
  packages/client/src/store/actions/bookingOperations.ts
  packages/functions/src/https.ts
  packages/shared/src/enums/errorMessages.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: scrub athletes' PII from Sentry error events
  packages/functions/src/constants.ts
  packages/shared/src/utils/__tests__/scrub.test.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/scrub.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: make countSlotsBookings atomic and floor counters at zero
  packages/client/src/__tests__/dataTriggers.test.ts
  packages/functions/src/dataTriggers.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: slotsByDay destructuring default doesn't cover null
  packages/client/src/store/selectors/attendance/attendanceVariance.ts
Due: eslint --fix --max-warnings=0, prettier --write

ci: deploy to production on pushes to the production branch, not master
  .github/workflow.templates/deploy-production.yml
  .github/workflows/deploy-production.yml
Due: prettier --write

Normalize admin entries before saving them
  packages/client/src/pages/admin_preferences/AdminsField.tsx
  packages/client/src/pages/admin_preferences/index.tsx
  packages/shared/src/utils/__tests__/admins.test.ts
  packages/shared/src/utils/admins.ts
  packages/shared/src/utils/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(attendance): don't crash or silently drop unplaceable month summary entries
  packages/client/src/store/selectors/attendance/__tests__/attendance.test.ts
  packages/client/src/store/selectors/attendance/attendanceVariance.ts
  packages/client/src/store/selectors/attendance/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(attendance): show a notice when the month summary is incomplete
  packages/client/src/pages/attendance/views/ByMonth.tsx
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
Due: eslint --fix --max-warnings=0, prettier --write

test(attendance): cover the day view with an athlete missing from the store
  packages/client/src/store/selectors/attendance/__tests__/attendance.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Upgrade firebase-tools to 13.35.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  common/scripts/firebase
  packages/client/package.json
  packages/react-redux-firebase-firestore/package.json
Due: prettier --write

Run Cloud Functions on Node 22
  packages/functions/package.json
Due: prettier --write

Document the Node versions for tooling and functions
  .nvmrc
  README.md
Due: prettier --write

Add getIntervalMinutes: validated, unrounded interval duration
  packages/shared/src/utils/__tests__/slots.test.ts
  packages/shared/src/utils/slots.ts
Due: eslint --fix --max-warnings=0, prettier --write

Add BookedHoursCalendar component for the athlete's month
  packages/testing/src/testIds/index.ts
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
  packages/ui/src/BookedHoursCalendar/BookedHoursCalendar.stories.tsx
  packages/ui/src/BookedHoursCalendar/BookedHoursCalendar.tsx
  packages/ui/src/BookedHoursCalendar/MonthOverview.tsx
  packages/ui/src/BookedHoursCalendar/SessionRow.tsx
  packages/ui/src/BookedHoursCalendar/__testData__.ts
  packages/ui/src/BookedHoursCalendar/__tests__/BookedHoursCalendar.test.tsx
  packages/ui/src/BookedHoursCalendar/index.ts
  packages/ui/src/BookedHoursCalendar/types.ts
  packages/ui/src/BookedHoursCalendar/utils.ts
  packages/ui/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Show monthly and weekly booked hours in the athlete calendar
  packages/client/src/pages/customer_area/views/Calendar.tsx
  packages/client/src/pages/customer_area/views/__tests__/Calendar.test.tsx
  packages/client/src/store/selectors/bookings/__tests__/calendarTotals.test.ts
  packages/client/src/store/selectors/bookings/calendarTotals.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(functions): never let Sentry reporting change a function's outcome
  packages/client/src/__tests__/sentryResilience.test.ts
  packages/functions/src/constants.ts
  packages/functions/src/sentry-serverless-firebase.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(client): sign in with Google in a popup instead of a redirect
  packages/client/src/react-redux-firebase-auth/ui/AuthDialog.tsx
  packages/client/src/react-redux-firebase-auth/ui/__tests__/AuthDialog.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Restrict bookings collection reads to single-document get (deny enumeration)
  packages/client/src/__tests__/firestoreRules.test.ts
  packages/firestore/firestore.rules
Due: eslint --fix --max-warnings=0, prettier --write

Add translations for explicit booking replacement and removed intervals
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
Due: eslint --fix --max-warnings=0, prettier --write

Show bookings whose interval was removed from the lesson
  packages/client/src/pages/customer_area/__tests__/CalendarRemovedInterval.test.tsx
  packages/client/src/store/selectors/bookings/__tests__/bookings.test.ts
  packages/client/src/store/selectors/bookings/slots.ts
  packages/ui/src/IntervalCardGroup/IntervalCardGroup.tsx
  packages/ui/src/IntervalCardGroup/__tests__/IntervalCardGroup.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Ask before replacing the booked interval of a lesson
  packages/client/src/features/modal/components/ReplaceBookingDialog/ReplaceBookingDialog.tsx
  packages/client/src/features/modal/components/ReplaceBookingDialog/__tests__/ReplaceBookingDialog.test.tsx
  packages/client/src/features/modal/components/ReplaceBookingDialog/index.ts
  packages/client/src/features/modal/components/index.ts
  packages/client/src/pages/customer_area/__tests__/Book.test.tsx
  packages/client/src/pages/customer_area/views/Book.tsx
  packages/client/src/store/actions/__tests__/bookingOperations.test.ts
  packages/client/src/store/actions/bookingOperations.ts
  packages/client/src/utils/firestore/compat.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(functions): isolate overlapping invocations, survive Sentry init failures
  packages/client/src/__tests__/sentryResilience.test.ts
  packages/functions/src/constants.ts
  packages/functions/src/sentry-serverless-firebase.ts
Due: eslint --fix --max-warnings=0, prettier --write

Record received documents on firestore listeners
  packages/react-redux-firebase-firestore/src/actions/index.ts
  packages/react-redux-firebase-firestore/src/enums.ts
  packages/react-redux-firebase-firestore/src/reducer/__tests__/firestoreReducer.test.ts
  packages/react-redux-firebase-firestore/src/reducer/index.ts
  packages/react-redux-firebase-firestore/src/thunks/subscribe.ts
  packages/react-redux-firebase-firestore/src/types.ts
Due: eslint --fix --max-warnings=0, prettier --write

Calendar totals: report bookings of a month without lessons
  packages/client/src/pages/customer_area/views/__tests__/Calendar.test.tsx
  packages/client/src/store/selectors/bookings/__tests__/calendarTotals.test.ts
  packages/client/src/store/selectors/bookings/calendarTotals.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(client): guard Google sign-in against hangs and repeated clicks
  packages/client/src/react-redux-firebase-auth/ui/AuthDialog.tsx
  packages/client/src/react-redux-firebase-auth/ui/__tests__/AuthDialog.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Limit the lockfile change to firebase-tools 13.35.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

Run the locked Firebase CLI from common/scripts/firebase
  common/scripts/firebase
Due: none
