Repository eisbuk/EisBuk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

Pass slot id to doc and keep original batch reference
  packages/client/src/store/actions/copyPaste.ts
  packages/client/src/utils/firestore/compat.ts
Due: eslint --fix --max-warnings=0, prettier --write

Disable firestore rules as a workaround fix for 804
  packages/firestore/firestore.rules
Due: none

Some copy/paste related fixes:
  packages/client/src/utils/firestore/compat.ts
Due: eslint --fix --max-warnings=0, prettier --write

Exclude *.service-account.json from git
  .gitignore
Due: none

Allow CI to succeed despite Chromatic Storybook deployment errors
  .github/workflow.templates/storybook.yml
Due: prettier --write

Rebuild workflows
  .github/workflow.templates/storybook.yml
  .github/workflows/storybook.yml
  .github/workflows/vitest-matrix.yml
Due: prettier --write

Small fix: remove double 'docPath.length' check
  packages/client/src/utils/firestore/compat.ts
Due: eslint --fix --max-warnings=0, prettier --write

Factor out checkExpected function to ease testing
  packages/client/src/__tests__/cloudFunctions.test.ts
  packages/functions/src/https.ts
Due: eslint --fix --max-warnings=0, prettier --write

Add some unit tests for checkExpected
  packages/functions/src/https.ts
  packages/shared/src/utils/__tests__/text.test.ts
  packages/shared/src/utils/text.ts
Due: eslint --fix --max-warnings=0, prettier --write

Ooops... the check was reversed. Fixing
  packages/functions/src/https.ts
Due: eslint --fix --max-warnings=0, prettier --write

Restore rules removed in emergency fix
  packages/firestore/firestore.rules
Due: none

Remove storybook CI job
  .github/workflow.templates/storybook.yml
  .github/workflows/storybook.yml
  .github/workflows/vitest-matrix.yml
Due: prettier --write

Minor fixups
  packages/client/src/store/selectors/bookings/__tests__/bookings.test.ts
  packages/client/src/store/selectors/bookings/slots.ts
Due: eslint --fix --max-warnings=0, prettier --write

Account for interval time when sorting customer calendar view (aside from slot date)
  packages/client/src/store/selectors/bookings/__tests__/bookings.test.ts
  packages/client/src/store/selectors/bookings/slots.ts
Due: eslint --fix --max-warnings=0, prettier --write

Create errorBoundary page and Fallback component
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/client/src/AppContent.tsx
  packages/client/src/pages/error_boundary/index.tsx
  packages/shared/src/ui/enums/routes.ts
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
  packages/ui/src/Fallback/Fallback.tsx
  packages/ui/src/Fallback/index.ts
  packages/ui/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Fix CustomerGrid:
  packages/client/src/pages/customers/index.tsx
  packages/ui/src/CustomerGrid/CustomerGrid.stories.tsx
  packages/ui/src/CustomerGrid/CustomerGrid.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Install 'jsdom' in the 'ui' package (apparently the tests need it)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/ui/package.json
Due: prettier --write

Fix navigation to consider "Athletes" link active even if it contains '?approvals=true'
  packages/ui/src/Layout/AdminBar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix customer area -> book view breaking on long intervals:
  packages/ui/src/IntervalCard/BookingCardContainer.tsx
  packages/ui/src/IntervalCard/CardContent.tsx
  packages/ui/src/IntervalCard/IntervalCard.stories.tsx
  packages/ui/src/IntervalCard/__tests__/IntervalCard.test.tsx
  packages/ui/src/IntervalCard/__tests__/intervalCardUtils.test.ts
  packages/ui/src/IntervalCard/types.ts
  packages/ui/src/IntervalCard/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

Sort categories in the UI (both attendance and slot cards)
  packages/client/src/store/selectors/attendance/slotAttendance.ts
  packages/client/src/store/selectors/slots.ts
Due: eslint --fix --max-warnings=0, prettier --write

Fix weird '<name> undefined.' name string:
  packages/ui/src/Forms/CustomerForm/FormAdmin.tsx
  packages/ui/src/Forms/CustomerForm/FormProfile.tsx
  packages/ui/src/Forms/CustomerForm/FormSelfReg.tsx
  packages/ui/src/Forms/CustomerForm/__tests__/FormAdmin.test.tsx
  packages/ui/src/Forms/CustomerForm/__tests__/FormProfile.test.tsx
  packages/ui/src/Forms/CustomerForm/__tests__/FormSelfReg.test.tsx
  packages/ui/src/Forms/CustomerForm/utils.ts
  packages/ui/src/utils/__tests__/helpers.test.ts
  packages/ui/src/utils/helpers.ts
Due: eslint --fix --max-warnings=0, prettier --write

Create the logout button in the Layout component
  packages/client/src/controllers/Layout.tsx
  packages/svg/src/assets/power-circle.svg
  packages/svg/src/index.ts
  packages/ui/src/Layout/AdminBar.tsx
  packages/ui/src/Layout/Layout.tsx
  packages/ui/src/Layout/MobileHamburgerMenu.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix z-index on SlotsDayContainer making day titles appear above mobile menu (when the menu is open)
  packages/ui/src/SlotsDayContainer/SlotsDayContainer.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Add a translation for the logout button
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
  packages/ui/src/Layout/AdminBar.tsx
  packages/ui/src/Layout/MobileHamburgerMenu.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Update e2e tests to include log out test
  packages/e2e/integration/auth_redirect_spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

Make the slot form action buttons always visible (and scroll only the inner content)
  packages/ui/src/Forms/SlotForm/SlotForm.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Remove 'add to calendar' button from customer area (for the time being)
  packages/client/src/pages/customer_area/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Disallow customer deletion if the given customer has future bookings
  packages/client/src/store/actions/__tests__/customerOperations.test.ts
  packages/client/src/store/actions/customerOperations.ts
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
Due: eslint --fix --max-warnings=0, prettier --write

When a cutomer is deleted, clear their categories
  packages/client/src/store/actions/__tests__/customerOperations.test.ts
  packages/client/src/store/actions/customerOperations.ts
Due: eslint --fix --max-warnings=0, prettier --write

When customer is deleted, clear their subscription number
  packages/client/src/store/actions/__testUtils__/firestore.ts
  packages/client/src/store/actions/__tests__/customerOperations.test.ts
  packages/client/src/store/actions/customerOperations.ts
Due: eslint --fix --max-warnings=0, prettier --write

Display preferences page action buttons always on top
  packages/client/src/pages/admin_preferences/index.tsx
  packages/ui/src/Layout/Layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Update HoverText to include a multiline variant
  packages/ui/src/HoverText/HoverText.stories.tsx
  packages/ui/src/HoverText/HoverText.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Add hover help text to admin preferences page
  packages/client/src/pages/admin_preferences/views/GeneralSettings.tsx
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
  packages/ui/src/Dropdown/Dropdown.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Italian 'log out' translation
  packages/translations/src/dict/it.json
Due: prettier --write

Italian 'cannot remove user' translation
  packages/translations/src/dict/it.json
Due: prettier --write

Add a migration to clear deleted customers' registrationCode and categories
  packages/client/src/pages/debug/index.tsx
  packages/functions/src/migrations.ts
  packages/shared/src/ui/enums/misc.ts
Due: eslint --fix --max-warnings=0, prettier --write

Italian translations for preferences page
  packages/translations/src/dict/it.json
Due: prettier --write

Always exit with 0 in CI tests and expect a failure in the test result reporting step
  packages/client/package.json
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,yml,yaml,md,mdx})
