Repository eisbuk/EisBuk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

Some small fixes:
  packages/client/vite.config.ts
  packages/ui/src/BirthdayMenu/BirthdayDialog.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix firestore client/server/compat incompatibility issues in tests:
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/client/src/__testSetup__/firestore.ts
  packages/client/src/__tests__/firestoreRules.test.ts
  packages/client/src/store/actions/__testUtils__/firestore.ts
  packages/client/src/store/actions/__tests__/attendanceOperations.test.ts
  packages/client/src/store/actions/__tests__/bookingOperations.test.ts
  packages/client/src/store/actions/__tests__/copyPaste.test.ts
  packages/client/src/store/actions/__tests__/customerOperations.test.ts
  packages/client/src/store/actions/__tests__/slotOperations.test.ts
  packages/client/src/utils/firestore/compat.ts
  packages/client/src/utils/firestore/index.ts
  packages/client/src/utils/firestore/paths.ts
Due: eslint --fix --max-warnings=0, prettier --write

Temporarily skip the client integrations test as it produces flakiness on smtp testing
  packages/client/src/__tests__/integrations.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Bump firestore versions + fix issues from update
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/client/src/__testSetup__/firestore.ts
  packages/client/src/features/modal/components/SendBookingsLinkDialog/__tests__/sendBookingsLinkDialogUtils.test.ts
  packages/client/src/pages/customer_area/views/Calendar.tsx
  packages/client/src/pages/self_register/index.tsx
  packages/client/src/store/actions/__tests__/attendanceOperations.test.ts
  packages/client/src/store/actions/__tests__/bookingOperations.test.ts
  packages/client/src/store/actions/__tests__/copyPaste.test.ts
  packages/client/src/store/actions/__tests__/customerOperations.test.ts
  packages/client/src/store/actions/__tests__/slotOperations.test.ts
  packages/client/src/store/actions/attendanceOperations.ts
  packages/client/src/store/actions/bookingOperations.ts
  packages/client/src/store/actions/copyPaste.ts
  packages/client/src/store/actions/customerOperations.ts
  packages/client/src/store/actions/icsCalendarOperations.ts
  packages/client/src/store/actions/organizationOperations.ts
  packages/client/src/store/actions/slotOperations.ts
  packages/client/src/store/createStore.ts
  packages/client/src/types/store.ts
  packages/client/src/utils/firestore/compat.ts
  packages/e2e/package.json
  packages/firestore-process-delivery/package.json
  packages/functions/package.json
  packages/react-redux-firebase-firestore/package.json
Due: eslint --fix --max-warnings=0, prettier --write

Use 'moduleResolution: "nodenext"' in 'client' package + remove 'compat' variant of firestore compat utils/variants
  packages/client/src/__testSetup__/firestore.ts
  packages/client/src/store/actions/__tests__/copyPaste.test.ts
  packages/client/src/store/selectors/app.ts
  packages/client/src/utils/firestore/compat.ts
  packages/client/tsconfig.json
  packages/scaffold/.eslintrc.js
Due: eslint --fix --max-warnings=0, prettier --write

Bump CI cache
  .github/workflow.templates/cache.lib.yml
  .github/workflows/build.yml
  .github/workflows/cypress-matrix.yml
  .github/workflows/deploy-production.yml
  .github/workflows/storybook.yml
Due: prettier --write

Fix failing checks:
  .github/version-check-status.json
  common/autoinstallers/lint-staged/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/backup-restore/package.json
  packages/client/package.json
  packages/e2e/package.json
  packages/firestore-process-delivery/package.json
  packages/functions/package.json
  packages/functions/src/migrations.ts
  packages/shared/package.json
Due: eslint --fix --max-warnings=0, prettier --write

Remove duplications 2: temove all duplicate test ids
  packages/client/src/components/atoms/SlotOperationButtons/CopyButton.tsx
  packages/client/src/components/atoms/SlotOperationButtons/DeleteButton.tsx
  packages/client/src/components/atoms/SlotOperationButtons/EditSlotButton.tsx
  packages/client/src/components/atoms/SlotOperationButtons/NewSlotButton.tsx
  packages/client/src/components/atoms/SlotOperationButtons/PasteButton.tsx
  packages/client/src/components/atoms/SlotOperationButtons/__tests__/CopyButton.test.tsx
  packages/client/src/components/atoms/SlotOperationButtons/__tests__/DeleteButton.test.tsx
  packages/client/src/components/atoms/SlotOperationButtons/__tests__/EditSlotButton.test.tsx
  packages/client/src/components/atoms/SlotOperationButtons/__tests__/NewSlotButton.test.tsx
  packages/client/src/components/atoms/SlotOperationButtons/__tests__/PasteButton.test.tsx
  packages/client/src/components/atoms/SlotOperationButtons/__tests__/SlotOperationButtons.test.tsx
  packages/client/src/controllers/SlotCard/__tests__/SlotCard.test.tsx
  packages/client/src/features/modal/components/SendICSDialog/SendICSDialog.tsx
  packages/client/src/features/modal/components/SendICSDialog/__tests__/SendICSDialog.test.tsx
  packages/client/src/pages/customers/index.tsx
  packages/e2e/integration/athlete_management_spec.ts
  packages/e2e/integration/athlete_self_update.ts
  packages/e2e/integration/attendance_spec.ts
  packages/e2e/integration/booking_spec_admin.ts
  packages/e2e/integration/booking_spec_non_admin.ts
  packages/e2e/integration/copy_button_spec.ts
  packages/e2e/support/commands.ts
  packages/e2e/temp.ts
  packages/shared/src/data/testIds.ts
  packages/shared/src/index.ts
  packages/testing/src/testIds/index.ts
  packages/ui/src/AttendanceCard/IntervalUI.tsx
  packages/ui/src/CustomerGrid/CustomerGrid.tsx
  packages/ui/src/CustomerList/CustomerList.tsx
  packages/ui/src/Forms/CustomerForm/SectionPersonalDetails.tsx
  packages/ui/src/Forms/SlotForm/TimeIntervalField.tsx
  packages/ui/src/Forms/SlotForm/TimePickerField.tsx
  packages/ui/src/Forms/SlotForm/__tests__/SlotForm.test.tsx
  packages/ui/src/Forms/SlotForm/__tests__/SlotIntervals.test.tsx
  packages/ui/src/Forms/SlotForm/__tests__/TimeIntervalField.test.tsx
  packages/ui/src/Forms/SlotForm/__tests__/TimePickerField.test.tsx
  packages/ui/src/NotificationToast/NotificationToast.tsx
  packages/ui/src/SlotCard/SlotCard.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Bump TypeScript to v5, updates:
  common/autoinstallers/lint-staged/package.json
  common/autoinstallers/lint-staged/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/backup-restore/package.json
  packages/client/package.json
  packages/client/src/features/notifications/components/NotificationsContainer/NotificationsContainer.tsx
  packages/e2e/package.json
  packages/e2e/support/commands.ts
  packages/e2e/tsconfig.json
  packages/firestore-process-delivery/package.json
  packages/functions/package.json
  packages/react-redux-firebase-firestore/package.json
  packages/scaffold/package.json
  packages/scaffold/tsconfig.json
  packages/shared/package.json
  packages/svg/package.json
  packages/translations/package.json
  packages/ui/package.json
Due: eslint --fix --max-warnings=0, prettier --write

Bump vite to latest (4.3.1)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/firestore-process-delivery/package.json
  packages/react-redux-firebase-firestore/package.json
  packages/shared/package.json
  packages/svg/package.json
  packages/translations/package.json
  packages/ui/package.json
Due: prettier --write

Migrate 'client' and 'ui' storybook to the latest version (7.0.7)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/.storybook/main.js
  packages/client/.storybook/preview.jsx
  packages/client/package.json
  packages/client/pnpm-lock.yaml
  packages/client/src/features/modal/components/Modal/Modal.stories.tsx
  packages/client/src/features/modal/components/Modal/index.ts
  packages/client/src/features/modal/components/index.ts
  packages/test-data/package.json
  packages/test-data/tsconfig.build.json
  packages/test-data/tsconfig.json
  packages/test-data/vite.config.ts
  packages/ui/.storybook/main.js
  packages/ui/package.json
  packages/ui/src/AttendanceCard/AttendanceCard.stories.tsx
  packages/ui/src/AttendanceSheet/AttendanceSheet.stories.tsx
  packages/ui/src/AttendanceVarianceTable/AttendanceVarianceTable.tsx
  packages/ui/src/AttendanceVarianceTable/index.ts
  packages/ui/src/Forms/SlotForm/SlotForm.stories.tsx
  packages/ui/src/SlotCard/SlotCard.stories.tsx
  packages/ui/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Bump all mentions of Node.js versions to 18.x.x
  .github/workflow.templates/build.yml
  .github/workflow.templates/cypress-matrix.yml
  .github/workflow.templates/deploy-production.yml
  .github/workflow.templates/storybook.lib.yml
  .github/workflow.templates/storybook.yml
  .github/workflows/build.yml
  .github/workflows/cypress-matrix.yml
  .github/workflows/deploy-production.yml
  .github/workflows/storybook.yml
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/backup-restore/package.json
  packages/client/package.json
  packages/e2e/package.json
  packages/firestore-process-delivery/package.json
  packages/functions/package.json
  packages/react-redux-firebase-firestore/package.json
  packages/shared/package.json
  packages/translations/package.json
  rush.json
Due: prettier --write

Bump all mentions of Node.js versions to 18.x.x
  .github/workflow.templates/build.yml
  .github/workflow.templates/cache.lib.yml
  .github/workflow.templates/cypress-matrix.yml
  .github/workflow.templates/deploy-production.yml
  .github/workflow.templates/storybook.lib.yml
  .github/workflow.templates/storybook.yml
  .github/workflows/build.yml
  .github/workflows/cypress-matrix.yml
  .github/workflows/deploy-production.yml
  .github/workflows/storybook.yml
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/backup-restore/package.json
  packages/client/package.json
  packages/e2e/package.json
  packages/firestore-process-delivery/package.json
  packages/functions/package.json
  packages/react-redux-firebase-firestore/package.json
  packages/shared/package.json
  packages/translations/package.json
  rush.json
Due: prettier --write

Bump firebase tools to the latest version (12.2.1):
  .github/workflow.templates/build.yml
  .github/workflows/build.yml
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  common/scripts/firebase
  packages/client/package.json
  packages/client/src/__testSetup__/firestoreSetup.ts
  packages/client/src/store/index.ts
  packages/e2e/cypress-ci.config.ts
  packages/e2e/integration/login_flow_spec.ts
  packages/e2e/plugins/firebasePlugin/commands.ts
  packages/e2e/plugins/firebasePlugin/getRecaptchaCode.ts
  packages/e2e/plugins/firebasePlugin/getSigninLink.ts
  packages/e2e/plugins/firebasePlugin/updateFirestore/adminDb.ts
  packages/react-redux-firebase-firestore/package.json
Due: eslint --fix --max-warnings=0, prettier --write

Fix failing tests:
  packages/client/src/__testUtils__/helpers.ts
  packages/client/src/__tests__/dataTriggers.test.ts
  packages/functions/src/dataTriggers.ts
  packages/shared/src/types/firestore.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update the 'client' tests to use 'waitFor':
  packages/client/package.json
  packages/client/src/__testUtils__/helpers.ts
  packages/client/src/__tests__/cloudFunctions.test.ts
  packages/client/src/__tests__/customerDataTriggers.test.ts
  packages/client/src/__tests__/dataTriggers.test.ts
  packages/client/src/__tests__/integrations.test.ts
  packages/client/src/__tests__/migrations.test.ts
  packages/client/src/store/actions/__tests__/bookingOperations.test.ts
  packages/functions/src/migrations.ts
Due: eslint --fix --max-warnings=0, prettier --write

Bump cypress assertion timeout to 15000ms (in attempt to reduce flakiness)
  packages/e2e/cypress-ci.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Move unnecessarily shared test data to the test file (dataTriggers)
  packages/client/src/__tests__/dataTriggers.test.ts
  packages/testing/package.json
  packages/testing/src/dataTriggers/index.ts
  packages/testing/vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Remove babel from packages not using it
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/.babelrc.js
  packages/client/package.json
  packages/client/pnpm-lock.yaml
  packages/functions/package.json
  packages/ui/.babelrc.js
Due: eslint --fix --max-warnings=0, prettier --write

Reinstate test reporting:
  .github/workflow.templates/build.yml
  .github/workflows/build.yml
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/ui/package.json
Due: prettier --write

Bump setup-node action (v2 -> v3) in all CI workflows
  .github/workflow.templates/build.yml
  .github/workflow.templates/cypress-matrix.yml
  .github/workflow.templates/deploy-production.yml
  .github/workflow.templates/storybook.lib.yml
  .github/workflow.templates/storybook.yml
  .github/workflows/build.yml
  .github/workflows/cypress-matrix.yml
  .github/workflows/deploy-production.yml
  .github/workflows/storybook.yml
Due: prettier --write

Use java-junit parser for tests, instead of jest-junit
  .github/workflow.templates/build.yml
  .github/workflows/build.yml
Due: prettier --write

Apply test related fixes:
  packages/client/src/__testUtils__/helpers.ts
  packages/client/src/features/modal/components/FinalizeBookingsDialog/FinalizeBookingsDialog.tsx
  packages/client/src/features/modal/components/FinalizeBookingsDialog/__tests__/finalizeBookingsUtils.test.ts
  packages/client/src/features/modal/components/FinalizeBookingsDialog/utils.ts
  packages/client/src/features/modal/components/SendBookingsLinkDialog/__tests__/sendBookingsLinkDialogUtils.test.ts
  packages/client/src/features/modal/components/SendBookingsLinkDialog/utils.ts
  packages/client/src/pages/customer_area/views/Calendar.tsx
  packages/client/src/pages/debug/index.tsx
  packages/client/src/pages/self_register/index.tsx
  packages/client/src/setup.ts
  packages/client/src/store/actions/__tests__/attendanceOperations.test.ts
  packages/client/src/store/actions/__tests__/authOperations.test.ts
  packages/client/src/store/actions/__tests__/bookingOperations.test.ts
  packages/client/src/store/actions/__tests__/copyPaste.test.ts
  packages/client/src/store/actions/__tests__/customerOperations.test.ts
  packages/client/src/store/actions/__tests__/slotOperations.test.ts
  packages/client/src/store/actions/authOperations.ts
  packages/client/src/store/actions/bookingOperations.ts
  packages/client/src/store/actions/icsCalendarOperations.ts
  packages/client/src/store/createStore.ts
  packages/client/src/store/index.ts
  packages/client/src/types/store.ts
  packages/client/src/utils/firebase.ts
Due: eslint --fix --max-warnings=0, prettier --write

Fix coverage report for 'client' package to output lcov file
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/client/vitest.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Enable Vitest UI support to unit tests in 'client' and 'ui' packages
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/ui/package.json
Due: prettier --write

Create a matrix to run client unit tests in CI
  .github/workflow.templates/vitest-matrix.yml
  .github/workflows/vitest-matrix.yml
Due: prettier --write

Enable admin to set arbitrary time interval in an attendance card:
  packages/client/src/controllers/AttendanceCard/AttendanceCardController.tsx
  packages/client/src/store/actions/__tests__/attendanceOperations.test.ts
  packages/client/src/store/actions/attendanceOperations.ts
  packages/e2e/integration/attendance_spec.ts
  packages/testing/src/testIds/index.ts
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
  packages/ui/src/AttendanceCard/CustomIntervalInput.tsx
  packages/ui/src/AttendanceCard/IntervalPicker.tsx
  packages/ui/src/AttendanceCard/UserAttendance.tsx
  packages/ui/src/AttendanceCard/__tests__/AttendanceCard.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix slot id firestore logic:
  packages/functions/src/dataTriggers.ts
  packages/functions/src/testSlots.ts
Due: eslint --fix --max-warnings=0, prettier --write

Remove linking to customer page from attendance entry as it produces more harm than utility
  packages/client/src/controllers/AttendanceCard/AttendanceCardController.tsx
  packages/e2e/integration/customer_profile_links_spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

Weird cypress fix
  packages/e2e/integration/attendance_spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update cache and checkout actions: v2 → v3
  .github/workflow.templates/cache.lib.yml
  .github/workflow.templates/setup.lib.yml
  .github/workflows/build.yml
  .github/workflows/cypress-matrix.yml
  .github/workflows/deploy-production.yml
  .github/workflows/storybook.yml
Due: prettier --write

Update github ations to use $GITHUB_OUTPUT instead of '::set-output'
  .github/workflow.templates/rclone.lib.yml
  .github/workflow.templates/secrets.lib.yml
  .github/workflows/build.yml
  .github/workflows/cypress-matrix.yml
  .github/workflows/storybook.yml
Due: prettier --write

Update Italian translations (fixes #707)
  packages/translations/src/dict/it.json
Due: prettier --write

Remove hardcoded language tag and fix translate="no"
  packages/client/index.html
  packages/client/public/index.html
Due: none

Emphasise 'sign in with phone' and 'sign with email link' as main sign in methods:
  packages/client/src/react-redux-firebase-auth/ui/AuthDialog.tsx
  packages/e2e/integration/athlete_self_register.ts
  packages/e2e/integration/login_flow_spec.ts
  packages/svg/src/assets/google.svg
  packages/svg/src/assets/key.svg
  packages/svg/src/index.ts
  packages/translations/src/dict/en.json
Due: eslint --fix --max-warnings=0, prettier --write

Remove all covid related features
  packages/client/src/__tests__/cloudFunctions.test.ts
  packages/client/src/__tests__/firestoreRules.test.ts
  packages/client/src/lib/data.ts
  packages/e2e/__testData__/customers.json
  packages/e2e/__testData__/saul_with_extended_date.json
  packages/e2e/integration/athlete_self_register.ts
  packages/e2e/integration/athlete_self_update.ts
  packages/e2e/support/commands.ts
  packages/firestore/firestore.rules
  packages/functions/src/testData.ts
  packages/react-redux-firebase-firestore/src/__testData__/customers.ts
  packages/shared/src/types/firestore.ts
  packages/testing/src/customers/index.ts
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
  packages/ui/src/Forms/CustomerForm/CustomerForm.stories.tsx
  packages/ui/src/Forms/CustomerForm/SectionMedicalDetails.tsx
  packages/ui/src/Forms/CustomerForm/__testData__/index.ts
  packages/ui/src/Forms/CustomerForm/__tests__/FormAdmin.test.tsx
  packages/ui/src/Forms/CustomerForm/__tests__/FormProfile.test.tsx
  packages/ui/src/Forms/CustomerForm/__tests__/FormSelfReg.test.tsx
  packages/ui/src/UserAvatar/CustomerAvatar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix 0.5 slot
  packages/client/src/utils/__tests__/utils.test.ts
  packages/client/src/utils/helpers.ts
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,yml,yaml,md,mdx})
