Repository eisbuk/EisBuk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

bookings countdown: extend bookings debug to allow for updates to exteded date as well
  packages/client/src/controllers/BookingDateDebugController.tsx
  packages/client/src/pages/customer_area/index.tsx
  packages/ui/src/BookingDateDebugDialog/BookingDateDebugDialog.stories.tsx
  packages/ui/src/BookingDateDebugDialog/BookingDateDebugDialog.tsx
  packages/ui/src/BookingDateDebugDialog/index.ts
  packages/ui/src/CalendarNav/CalendarNav.stories.tsx
  packages/ui/src/CalendarNav/DateDebug.tsx
  packages/ui/src/CalendarNav/index.ts
  packages/ui/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

bookings countdown: internalionalise date debug elements
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
  packages/ui/src/BookingDateDebugDialog/BookingDateDebugDialog.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Update labels
  packages/client/src/pages/customer_area/index.tsx
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/translations/src/translations.ts
Due: eslint --fix --max-warnings=0, prettier --write

Debug setup 1
  packages/functions/src/constants.ts
  packages/functions/src/sentry-serverless-firebase.ts
Due: eslint --fix --max-warnings=0, prettier --write

Debug setup 2: data trigger
  packages/functions/src/dataTriggers.ts
Due: eslint --fix --max-warnings=0, prettier --write

Staging setup
  packages/functions/src/constants.ts
  packages/functions/src/dataTriggers.ts
  packages/functions/src/sentry-serverless-firebase.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: invert name and surname in CheckboxCustomerList
  packages/client/src/pages/booking_emails/EmailTemplateSettings.tsx
  packages/ui/src/CheckboxCustomerList/CheckboxCustomerList.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: make notes red for teacher, extend TextareaEditable, remove placeholder and make text red on booking editable textarea
  packages/ui/src/AttendanceCard/UserAttendance.tsx
  packages/ui/src/IntervalCard/NotesSection.tsx
  packages/ui/src/TextareaEditable/TextareaEditable.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Update github actions to use node20 compatible versions
  .github/workflow.templates/build.yml
  .github/workflow.templates/cache.lib.yml
  .github/workflow.templates/cypress-matrix.yml
  .github/workflow.templates/deploy-production.yml
  .github/workflow.templates/pr.yml
  .github/workflow.templates/setup.lib.yml
  .github/workflow.templates/storybook.lib.yml
  .github/workflow.templates/vitest-matrix.yml
  .github/workflows/build.yml
  .github/workflows/cypress-matrix.yml
  .github/workflows/deploy-production.yml
  .github/workflows/pr.yml
  .github/workflows/vitest-matrix.yml
Due: prettier --write

wip: scaffold columns and translations
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
  packages/ui/src/AttendanceVarianceTable/AttendanceVarianceTable.tsx
  packages/ui/src/AttendanceVarianceTable/types.ts
  packages/ui/src/AttendanceVarianceTable/utils.ts
  packages/ui/src/IntervalCard/NotesSection.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix types
  packages/translations/src/translations.ts
Due: eslint --fix --max-warnings=0, prettier --write

update columns headers
  packages/translations/src/dict/en.json
  packages/translations/src/dict/it.json
Due: prettier --write

date nav
  packages/ui/src/CalendarNav/DateNavigation.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: manually update caniuse-lite to latest version
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/svg/package.json
  packages/ui/package.json
Due: prettier --write

Update dev setup:
  firebase.json
  packages/client/src/lib/constants.ts
  packages/client/src/setup.ts
  packages/client/vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Fix button stretching in Safari:
  packages/client/src/pages/athlete_profile/index.tsx
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Button/index.ts
  packages/ui/src/Layout/AdminBar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: monthly attendance customer names shown above the menu on mobile
  packages/ui/src/AttendanceVarianceTable/AttendanceVarianceTable.tsx
  packages/ui/src/Layout/MobileHamburgerMenu.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: form fields (and other UI elements) ui in client package: load tailwind/forms plugin
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/client/tailwind.config.js
  packages/ui/package.json
Due: eslint --fix --max-warnings=0, prettier --write

mobile ui: some updates on customer area:
  packages/client/src/pages/customer_area/index.tsx
  packages/client/src/pages/customer_area/views/Book.tsx
  packages/client/src/pages/customer_area/views/Profile.tsx
  packages/ui/src/BookingDateDebugDialog/BookingDateDebugDialog.stories.tsx
  packages/ui/src/BookingDateDebugDialog/BookingDateDebugDialog.tsx
  packages/ui/src/IntervalCard/BookingCardContainer.tsx
Due: eslint --fix --max-warnings=0, prettier --write

small fix: prevent button styles from adding infinite text-white classes
  packages/ui/src/Button/Button.tsx
Due: eslint --fix --max-warnings=0, prettier --write

mobile ui: make the customer grid slightly nicer on mobile (centered)
  packages/ui/src/CustomerGrid/CustomerGrid.tsx
Due: eslint --fix --max-warnings=0, prettier --write

mobile ui: slot operation buttons:
  packages/client/src/components/atoms/SlotOperationButtons/SlotOperationButton.tsx
  packages/client/src/components/atoms/SlotOperationButtons/SlotOperationButtons.tsx
  packages/client/src/controllers/SlotCard/SlotCardController.tsx
  packages/client/src/pages/attendance/index.tsx
  packages/client/src/pages/customer_area/index.tsx
  packages/client/src/pages/slots/index.tsx
  packages/ui/src/CalendarNav/CalendarNav.stories.tsx
  packages/ui/src/CalendarNav/CalendarNav.tsx
  packages/ui/src/CalendarNav/DateNavigation.tsx
  packages/ui/src/SlotCard/SlotCard.stories.tsx
  packages/ui/src/SlotCard/SlotCard.tsx
  packages/ui/src/SlotsDayContainer/SlotsDayContainer.stories.tsx
  packages/ui/src/SlotsDayContainer/SlotsDayContainer.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Make sure failures to deploy to preview channel are shown as red in the CI
  .github/workflow.templates/build.yml
  .github/workflows/build.yml
Due: prettier --write

Use JSON key to deploy to firebase (for both preview and production)
  .github/workflow.templates/build.yml
  .github/workflow.templates/deploy-production.yml
  .github/workflows/build.yml
  .github/workflows/deploy-production.yml
Due: prettier --write

Fix production deploy
  .github/workflow.templates/build.yml
  .github/workflow.templates/deploy-production.yml
  .github/workflows/build.yml
  .github/workflows/deploy-production.yml
Due: prettier --write

Try to set GOOGLE_APPLICATION_CREDENTIALS in a different way
  .github/workflow.templates/deploy-production.yml
Due: prettier --write

Add a branch to test production deployments
  .github/workflow.templates/deploy-production.yml
Due: prettier --write

Make the changes effective by building the workflow
  .github/workflows/deploy-production.yml
Due: prettier --write

Add --debug to firebase deploy command to investigate failures
  deploy-firebase.expect
Due: none

Clarify the need for two steps in sentry version creation
  .github/workflow.templates/deploy-production.yml
  .github/workflows/deploy-production.yml
Due: prettier --write

Use simple fixed path for key.json
  .github/workflow.templates/deploy-production.yml
  .github/workflows/deploy-production.yml
Due: prettier --write

ui: make the header fixed: customer area page:
  packages/client/src/pages/customer_area/index.tsx
  packages/client/src/pages/customer_area/views/Book.tsx
  packages/ui/src/SlotsDayContainer/SlotsDayContainer.tsx
Due: eslint --fix --max-warnings=0, prettier --write

ui: make the header fixed: customers:
  packages/client/src/pages/athlete_profile/index.tsx
  packages/client/src/pages/customers/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

ui: make the header fixed: attendance:
  packages/client/src/controllers/AdminBar.tsx
  packages/client/src/pages/attendance/index.tsx
  packages/client/src/pages/attendance/views/ByDay.tsx
Due: eslint --fix --max-warnings=0, prettier --write

ui: make the header fixed: admin preferences
  packages/client/src/pages/admin_preferences/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

ui: make the header fixed: slots page:
  packages/client/src/components/atoms/SlotOperationButtons/SlotOperationButton.tsx
  packages/client/src/controllers/AdminBar.tsx
  packages/client/src/features/notifications/components/NotificationsContainer/NotificationsContainer.tsx
  packages/client/src/pages/slots/index.tsx
  packages/ui/src/CalendarNav/DateNavigation.tsx
  packages/ui/src/Layout/index.ts
  packages/ui/src/SlotCard/SlotCard.stories.tsx
  packages/ui/src/SlotsDayContainer/SlotsDayContainer.stories.tsx
  packages/ui/src/SlotsDayContainer/SlotsDayContainer.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,yml,yaml,md,mdx})
