Repository eisbuk/EisBuk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

Export all from NotificationToast
  packages/ui/src/NotificationToast/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Test click functionality
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Button/__tests__/Button.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Extend styles, and stories for Button component
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Scaffold Button component
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Button/__tests__/Button.test.tsx
  packages/ui/src/Button/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Apply basic button styles
  packages/ui/src/Button/Button.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Minor Button fixups
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Export types from Button
  packages/ui/src/Button/index.ts
  packages/ui/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Only fail for newly introduced inconsistencies
  .github/check-rush.sh
  .github/version-check-status.json
  .github/workflow.templates/build.yml
  .github/workflows/build.yml
Due: prettier --write

Restore all package.json to their master version
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/scaffold/package.json
  packages/shared/package.json
Due: prettier --write

Refactor rclone steps
  .github/workflow.templates/build.yml
  .github/workflow.templates/rclone.lib.yml
  .github/workflows/build.yml
Due: prettier --write

Fix sizing of an icon in EmptySpace to conform to mockup
  packages/ui/src/EmptySpace/EmptySpace.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Apply some styling fixes on NotificationToast
  packages/ui/src/NotificationToast/NotificationToast.stories.tsx
  packages/ui/src/NotificationToast/NotificationToast.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Symlink translations and shared to ui package
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/ui/package.json
Due: prettier --write

Simplify chromatic storybook push
  .github/workflow.templates/storybook.yml
  .github/workflows/storybook.yml
Due: prettier --write

Build client storybook and deploy to gcloud bucket
  .github/workflow.templates/build.yml
  .github/workflows/build.yml
Due: prettier --write

Factor out storybook building/pushing into reusable bit
  .github/workflow.templates/build.yml
  .github/workflow.templates/storybook.lib.yml
  .github/workflows/build.yml
Due: prettier --write

Also build storybook for the ui package
  .github/workflow.templates/build.yml
  .github/workflow.templates/storybook.lib.yml
  .github/workflows/build.yml
Due: prettier --write

Level up vite-plugin-svgr and vite versions
  .github/version-check-status.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/shared/package.json
  packages/translations/package.json
Due: prettier --write

Level up eslint-plugin-react-hooks, eslint-plugin-unused-imports and typescript versions
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/e2e/package.json
  packages/functions/package.json
  packages/scaffold/package.json
  packages/shared/package.json
  packages/svg/package.json
  packages/translations/package.json
  packages/ui/package.json
Due: prettier --write

Improve CI job naming
  .github/workflow.templates/build.yml
Due: prettier --write

Level up various versions
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/e2e/package.json
  packages/functions/package.json
  packages/scaffold/package.json
  packages/shared/package.json
  packages/translations/package.json
Due: prettier --write

Run the ./.github/build-workflows.sh script
  .github/workflow.templates/pr.yml
  .github/workflows/build.yml
  .github/workflows/pr.yml
Due: prettier --write

Level up a bunch of versions
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
  packages/e2e/package.json
  packages/functions/package.json
  packages/scaffold/package.json
  packages/shared/package.json
  packages/translations/package.json
Due: prettier --write

Fix functions package linting
  packages/functions/src/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

Level up storybook packages
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
Due: prettier --write

Update uuid
  packages/client/package.json
  packages/e2e/package.json
Due: prettier --write

Fix check rush exit code
  .github/check-rush.sh
Due: none

Fix rush state file
  .github/version-check-status.json
Due: prettier --write

Level up @firebase/app version
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
Due: prettier --write

Level up @firebase/firestore version
  .github/version-check-status.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
Due: prettier --write

Use -S option for jq to ensure stable ordering of keys
  .github/check-rush.sh
  .github/version-check-status.json
Due: prettier --write

Revert "Level up @firebase/firestore version"
  .github/version-check-status.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
Due: prettier --write

Revert "Level up @firebase/app version"
  .github/version-check-status.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
Due: prettier --write

Ignore whitespace in vesrions check
  .github/check-rush.sh
Due: none

Ignore newlines when checking versions
  .github/check-rush.sh
  .github/version-check-status.json
Due: prettier --write

Update firebase-functions
  .github/check-rush.sh
  .github/version-check-status.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/package.json
Due: prettier --write

Scaffold UseAvatar component; Link pkg/shared to pkg/ui
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/ui/package.json
  packages/ui/src/UserAvatar/UserAvatar.stories.tsx
  packages/ui/src/UserAvatar/UserAvatar.tsx
  packages/ui/src/UserAvatar/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Add styles and fallback for undefined avatar
  packages/ui/src/UserAvatar/UserAvatar.stories.tsx
  packages/ui/src/UserAvatar/UserAvatar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Try to run cypress 36 times in parallel to fix test flappiness
  .github/workflow.templates/build.yml
  .github/workflows/build.yml
Due: prettier --write

Add UserAvatar to main UI package index
  packages/ui/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,yml,yaml,md,mdx})
