Repository eisbuk/EisBuk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,yml,yaml,md,mdx}": ["prettier --write"]
}

Pass missing isAdmin
  packages/client/src/features/modal/components/Modal.stories.tsx
  packages/client/src/features/notifications/components/NotificationsContainer/NotificationsContainer.stories.tsx
  packages/client/src/pages/customer_area/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Declare PrivateRoutes
  packages/ui/src/Layout/Layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Add react-router-dom to ui package
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/ui/package.json
Due: prettier --write

Sync react-router-dom versions across packages, externalize react-router-dom in ui package, fix up the tests
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/src/pages/customer_area/__tests__/CustomerAreaPage.test.tsx
  packages/ui/package.json
  packages/ui/vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Raw cut processDelivery logic
  packages/functions/src/processDelivery.ts
Due: eslint --fix --max-warnings=0, prettier --write

Separare firestore-process-delivery as a separate package
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/firestore-process-delivery/.eslintrc.js
  packages/firestore-process-delivery/package.json
  packages/firestore-process-delivery/src/processDelivery.ts
  packages/firestore-process-delivery/tsconfig.json
  packages/firestore-process-delivery/vite.config.ts
  rush.json
Due: eslint --fix --max-warnings=0, prettier --write

Separate firestore-process-delivery code a bit, add logging
  packages/firestore-process-delivery/src/index.ts
  packages/firestore-process-delivery/src/logger.ts
  packages/firestore-process-delivery/src/processDelivery.ts
  packages/firestore-process-delivery/src/types.ts
  packages/firestore-process-delivery/src/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update firestore-process-delivery build script
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  firebase-testing.json
  packages/firestore-process-delivery/package.json
  packages/firestore-process-delivery/vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Polish firestore-process-delivery a bit
  packages/firestore-process-delivery/src/index.ts
  packages/firestore-process-delivery/src/types.ts
  packages/firestore-process-delivery/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

Add tests for firestore-process-delivery
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  firebase-testing.json
  firebase.json
  packages/firestore-process-delivery/.babelrc.js
  packages/firestore-process-delivery/.eslintrc.js
  packages/firestore-process-delivery/jest.config.js
  packages/firestore-process-delivery/package.json
  packages/firestore-process-delivery/src/__testSetup__/adminDb.ts
  packages/firestore-process-delivery/src/__tests__/process-delivery.test.ts
  packages/firestore-process-delivery/src/index.ts
  packages/firestore-process-delivery/src/logger.ts
  packages/firestore-process-delivery/src/utils.ts
  packages/firestore-process-delivery/tsconfig.json
  packages/firestore-process-delivery/vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Use firestore-process-delivery for email sending functionality
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/firestore-process-delivery/package.json
  packages/firestore-process-delivery/src/index.ts
  packages/firestore-process-delivery/src/types.ts
  packages/functions/package.json
  packages/functions/src/https.ts
  packages/functions/src/index.ts
  packages/functions/src/sendEmail.ts
  packages/functions/src/utils.ts
  packages/shared/package.json
  packages/shared/src/enums/firestore.ts
  packages/shared/src/types/firestore.ts
Due: eslint --fix --max-warnings=0, prettier --write

Use JSON schema validation for email sending checks
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/src/__tests__/cloudFunctions.test.ts
  packages/client/src/__tests__/firestoreRules.test.ts
  packages/client/src/utils/firestore.ts
  packages/functions/package.json
  packages/functions/src/constants.ts
  packages/functions/src/sendEmail.ts
  packages/functions/src/utils.ts
  packages/functions/src/validations.ts
  packages/shared/src/enums/firestore.ts
  packages/shared/src/types/firestore.ts
Due: eslint --fix --max-warnings=0, prettier --write

Use process delivery for SMS sending, TODO: update process delivery to enable SMS check retries
  packages/client/src/__tests__/firestoreRules.test.ts
  packages/client/src/store/actions/__tests__/customerOperations.test.ts
  packages/client/src/store/actions/customerOperations.ts
  packages/functions/src/https.ts
  packages/functions/src/sendSMS.ts
  packages/functions/src/utils.ts
  packages/functions/src/validations.ts
Due: eslint --fix --max-warnings=0, prettier --write

Organize email and SMS code a bit
  packages/functions/src/constants.ts
  packages/functions/src/index.ts
  packages/functions/src/sendEmail/deliver.ts
  packages/functions/src/sendEmail/https.ts
  packages/functions/src/sendEmail/index.ts
  packages/functions/src/sendEmail/types.ts
  packages/functions/src/sendEmail/validations.ts
  packages/functions/src/sendSMS/deliver.ts
  packages/functions/src/sendSMS/https.ts
  packages/functions/src/sendSMS/index.ts
  packages/functions/src/sendSMS/types.ts
  packages/functions/src/sendSMS/utils.ts
  packages/functions/src/sendSMS/validations.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update firestore-process-delivery to accept error array
  packages/firestore-process-delivery/src/__tests__/process-delivery.test.ts
  packages/firestore-process-delivery/src/index.ts
  packages/firestore-process-delivery/src/types.ts
Due: eslint --fix --max-warnings=0, prettier --write

Polish email sending logic, apply multiple error reporting
  packages/firestore-process-delivery/src/__tests__/process-delivery.test.ts
  packages/firestore-process-delivery/src/index.ts
  packages/firestore-process-delivery/src/types.ts
  packages/functions/src/sendEmail/deliver.ts
  packages/functions/src/sendEmail/types.ts
  packages/functions/src/sendEmail/validations.ts
  packages/functions/src/sendSMS/deliver.ts
  packages/functions/src/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update SMS delivery to only send the SMS to the Gateway API
  packages/functions/src/sendSMS/deliver.ts
  packages/functions/src/sendSMS/types.ts
  packages/functions/src/sendSMS/validations.ts
Due: eslint --fix --max-warnings=0, prettier --write

Receive SMS status updates from GatewayAPI to updateSMSStatus endpoint
  packages/firestore-process-delivery/src/index.ts
  packages/firestore-process-delivery/src/types.ts
  packages/functions/src/constants.ts
  packages/functions/src/sendSMS/deliver.ts
  packages/functions/src/sendSMS/https.ts
  packages/functions/src/sendSMS/types.ts
  packages/functions/src/sendSMS/utils.ts
  packages/functions/src/sendSMS/validations.ts
  packages/functions/src/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

Fix up test errors
  packages/firestore-process-delivery/src/__tests__/process-delivery.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Fix up ts processes in firestore-process-delivery
  packages/client/package.json
  packages/firestore-process-delivery/package.json
  packages/firestore-process-delivery/tsconfig.build.json
  packages/firestore-process-delivery/tsconfig.json
Due: prettier --write

Write the basic docs for firestore-process-delivery
  packages/firestore-process-delivery/README.md
Due: prettier --write

Fix TS errors, add more detailed comments to firestore-process-delivery package
  packages/firestore-process-delivery/src/types.ts
  packages/firestore-process-delivery/tsconfig.json
  packages/functions/src/sendEmail/deliver.ts
  packages/functions/src/sendEmail/https.ts
  packages/functions/src/utils.ts
  packages/functions/tsconfig.json
  packages/scaffold/tsconfig.json
  packages/shared/tsconfig.json
  packages/translations/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

Update firestore.rules tests for delivery queues
  packages/client/src/__tests__/firestoreRules.test.ts
  packages/client/src/utils/firestore.ts
  packages/functions/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

Remove "node" invlocation when running test scripts in client package.json
  packages/client/package.json
Due: prettier --write

Make the firestore-process-delivery log leven non-verbose by default, but build for production with "verbose" (the functions console let's you filter the logs with respect to log level)
  packages/firestore-process-delivery/package.json
  packages/firestore-process-delivery/vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Expand on the firestore-process-delivery docs
  packages/firestore-process-delivery/README.md
Due: prettier --write

Bump firestore-process-delivery package TS version, remove assertions no-longer needed
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/firestore-process-delivery/package.json
  packages/functions/src/sendEmail/deliver.ts
Due: eslint --fix --max-warnings=0, prettier --write

Fix 'getSMTPPreferences' in 'sendEmail' function
  packages/functions/src/sendEmail/deliver.ts
Due: eslint --fix --max-warnings=0, prettier --write

Fix up 'updateSMSStatus' cloud function
  packages/functions/src/sendSMS/https.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update firestore-process-delivery types a bit
  packages/firestore-process-delivery/src/index.ts
  packages/firestore-process-delivery/src/types.ts
  packages/functions/src/sendEmail/https.ts
  packages/functions/src/utils.ts
  packages/shared/src/types/firestore.ts
Due: eslint --fix --max-warnings=0, prettier --write

Bump firestore-process-delivery deps
  .github/version-check-status.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/firestore-process-delivery/package.json
Due: prettier --write

Update check-rush command
  .github/check-rush.sh
Due: none

Add flow charts to firestore-process-delivery README.md
  packages/firestore-process-delivery/README.md
Due: prettier --write

import ui css file so that it can be purged with main.css
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/client/.storybook/preview.js
  packages/client/package.json
  packages/client/postcss.config.js
  packages/client/src/index.tsx
  packages/client/src/main.css
Due: eslint --fix --max-warnings=0, prettier --write

Fix deploy:production by not running rush deploy command as well as a bulk build as predeploy
  firebase-testing.json
  firebase.json
Due: prettier --write

PR fixes
  packages/ui/src/Layout/AdminBar.tsx
  packages/ui/src/Layout/Layout.stories.tsx
  packages/ui/src/Layout/Layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Merge missing preview.js
  packages/client/.storybook/preview.js
Due: eslint --fix --max-warnings=0, prettier --write

Unflex Button component
  packages/ui/src/Layout/AdminBar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Falsify isAdmin by default
  packages/ui/src/Layout/Layout.stories.tsx
  packages/ui/src/Layout/Layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Pass adminsLink to Layout in index
  packages/client/src/pages/customer_area/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write
